/* global variables */
:root {
  --first-background-color: #1e202b;
  --second-background-color: #262936;
  --third-background-color: #323544;
  --other-color: #009ad8;
}

.first-backgr-color {
  background-color: var(--first-background-color);
}
.second-backgr-color {
  background-color: var(--second-background-color);
}
.third-backgr-color {
  background-color: var(--third-background-color);
}
.the-fourth-backgr-color {
  background-color: var(--other-color);
}
body {
  background-color: var(--first-background-color);
}

/* global variables  */

/* start nav */
.logo-text {
  font-size: 16px;
}
.logo-text + p {
  font-size: 10px;
}
.logo-pic {
  width: 68px;
}
.navbar .nav-link {
  color: white;
  margin-right: 18px;
  font-size: 14px;
  padding: 8px 24px !important;
  transition: all 0.3s;
  border: 2px solid transparent;
}
.navbar .nav-link:hover {
  color: var(--other-color);
  border: 2px solid var(--other-color);
}
.navbar .nav-item .active {
  color: var(--other-color);
  border: 2px solid var(--other-color);
  padding: 8px 24px;
}

@media (max-width: 992px) {
  .navbar-nav {
    background-color: #262936;
    text-align: center;
    margin-top: 12px;
  }
  .nav-item {
    margin-bottom: 6px;
    border-bottom: 1px solid #bfc1c879;
    padding-bottom: 6px;
  }
  .navbar .nav-item .active {
    border: 2px solid transparent;
  }
  .navbar .nav-item .nav-link:hover {
    color: white;
    border: 2px solid transparent;
  }
  .navbar .nav-item .nav-link.active:hover {
    color: var(--other-color);
  }
  .navbar-nav .nav-item:last-child {
    border: none;
  }
}
/* start nav */
/* staret main section */
.bg-image {
  height: 350px;
  background-image: url(../images/banner.png);
  background-size: cover;
}
.bg-color {
  background-color: var(--first-background-color);
  height: 300px;
}
.main input,
.footer input {
  background-color: var(--first-background-color);
  outline: none;
  margin-bottom: 48px;
  caret-color: white;
  color: white;
  border: none;
}
.main button,
.footer button {
  padding: 12px 30px;
  top: 27%;
  right: 5px;
}
.head-col {
  background-color: #2d303d;
  color: white;
}
.body-col {
  background-color: var(--third-background-color);
}

.text-color {
  color: #bfc1c8;
}

.temperature {
  font-size: 75px;
  font-weight: 700;
}
.weather-condition {
  display: inline-block;
  color: var(--other-color);
  font-size: 14px;
  margin-bottom: 12px !important;
}
.image-icon {
  width: 26px;
}
.head-col-2 {
  background-color: #222530;
}
.body-col-2 {
  background-color: #262936;
}
@media (max-width: 992px) {
  .weather-details {
    margin-top: 300px;
  }
  .row .col-lg-4 {
    height: 380px;
  }
}
/* end main section */
/* start footer */
.footer {
  background-color: #262936;
}
.footer input {
  margin-bottom: 0;
}
.footer button {
  padding: 10px 15px;
  top: 73%;
  right: 5px;
}
.footer p {
  color: #bfc1c8;
}
.social-icons div {
  padding: 16px;
  background-color: var(--first-background-color);
  margin-right: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.social-icons div a {
  color: var(--other-color);
  font-size: 24px;
  transition: all 0.3s;
}
.social-icons div:hover a {
  color: white;
}
.social-icons div:hover {
  background-color: var(--other-color);
}
@media (max-width: 992px) {
  .footer {
    margin-top: 650px;
  }
  .social-icons {
    margin-bottom: 42px;
  }
}
/* end footer */
